/**
 * Copyright 2006-2014 GrapeCity inc
 * Author: isaac.fang@grapecity.com
 */
@import '../lib/normalize-css/normalize.css';
@import '../highlight/styles/mono-blue.css';
@import 'mixins.less';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace, Consolas, "Courier New";
  background: #eaeef3;
  color: #00193a;
  input {
    border: solid 2px #333;
  }
}

header {
  width: 840px;
  margin: 0 auto;
  h1 {
    font-size: 24px;
  }
}

#content {
  width: 840px;
  margin: 0 auto;
  #canvas {
    float: left;
    width: 320px;
    #chart {
      margin: 0 0 5px 0;
    }
    .label-wrap {
      padding: 3px 0;
    }
    .btns-wrap {
      font-size: 0;
      word-spacing: 0;
      margin: 0 -3px;
      button {
        border: solid 1px #00193a;
        outline: none medium;
        font-size: 12px;
        margin: 3px;
        padding: 3px 8px;
        .border-radius(4px);
        a {
          display: block;
          margin: -3px -8px;
          padding: 3px 8px;
          text-decoration: none;
          color: #00193a;
          &:hover {
            color: #ffffff;
          }
        }
        &:hover {
          color: #ffffff;
          background: #0048ab;
        }
      }
      .active {
        color: #ffffff;
        border: solid 1px #00193a;
        background: #00193a;
        a {
          text-decoration: none;
          color: #ffffff;
        }
        &:hover {
          background: #00193a;
        }
        outline: none medium;
      }
    }
  }
  #code {
    overflow: hidden;
    zoom: 1;
    padding: 25px 0 0 25px;
    pre {
      margin: 0;
      padding: 0;
    }
  }
  &:after {
    content: ' ';
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
  }
}

footer {
  width: 840px;
  margin: 20px auto;
  a {
    color: #00193a;
  }
}