@import '../lib/normalize-css/normalize.css';
@import '../highlight/styles/mono-blue.css';
/**
 * Copyright 2006-2014 GrapeCity inc
 * Author: isaac.fang@grapecity.com
 */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace, Consolas, "Courier New";
  background: #eaeef3;
  color: #00193a;
}
html input,
body input {
  border: solid 2px #333;
}
header {
  width: 840px;
  margin: 0 auto;
}
header h1 {
  font-size: 24px;
}
#content {
  width: 840px;
  margin: 0 auto;
}
#content #canvas {
  float: left;
  width: 320px;
}
#content #canvas #chart {
  margin: 0 0 5px 0;
}
#content #canvas .label-wrap {
  padding: 3px 0;
}
#content #canvas .btns-wrap {
  font-size: 0;
  word-spacing: 0;
  margin: 0 -3px;
}
#content #canvas .btns-wrap button {
  border: solid 1px #00193a;
  outline: none medium;
  font-size: 12px;
  margin: 3px;
  padding: 3px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#content #canvas .btns-wrap button a {
  display: block;
  margin: -3px -8px;
  padding: 3px 8px;
  text-decoration: none;
  color: #00193a;
}
#content #canvas .btns-wrap button a:hover {
  color: #ffffff;
}
#content #canvas .btns-wrap button:hover {
  color: #ffffff;
  background: #0048ab;
}
#content #canvas .btns-wrap .active {
  color: #ffffff;
  border: solid 1px #00193a;
  background: #00193a;
  outline: none medium;
}
#content #canvas .btns-wrap .active a {
  text-decoration: none;
  color: #ffffff;
}
#content #canvas .btns-wrap .active:hover {
  background: #00193a;
}
#content #code {
  overflow: hidden;
  zoom: 1;
  padding: 25px 0 0 25px;
}
#content #code pre {
  margin: 0;
  padding: 0;
}
#content:after {
  content: ' ';
  height: 0;
  line-height: 0;
  display: block;
  clear: both;
}
footer {
  width: 840px;
  margin: 20px auto;
}
footer a {
  color: #00193a;
}
