<div>
    <canvas></canvas>

    <div class="btns-wrap" id="play-wrap">
        <button type="text" id="shuffle-btn">Shuffle</button>
        <button type="text" id="play-btn" data-play="false">Play</button>
        <button type="text" id="reverse-btn">Reverse</button>
    </div>
    <div class="label-wrap">
        <label for="delay-wrap">Delay(ms)</label>
    </div>
    <div class="btns-wrap" id="delay-wrap">
        <button type="text" class="delay-btn" data-delay="0">0</button>
        <button type="text" class="delay-btn" data-delay="50">50</button>
        <button type="text" class="delay-btn" data-delay="100">100</button>
        <button type="text" class="delay-btn" data-delay="200">200</button>
        <button type="text" class="delay-btn" data-delay="500">500</button>
        <button type="text" class="delay-btn" data-delay="1000">1000</button>
    </div>
    <div class="label-wrap">
        <label for="count-wrap">Count</label>
    </div>
    <div class="btns-wrap" id="count-wrap">
        <button type="text" class="count-btn" data-count="10">10</button>
        <button type="text" class="count-btn" data-count="20">20</button>
        <button type="text" class="count-btn" data-count="40">40</button>
        <button type="text" class="count-btn" data-count="80">80</button>
        <button type="text" class="count-btn" data-count="160">160</button>
        <button type="text" class="count-btn" data-count="320">320</button>
    </div>
</div>